html, body {
	background-color: #181818;
	color: white;
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	max-width: 768px;
	padding: 20px 5%;
}

section {
	background-color: #0B6BB1;
}

h1, h2 {
	line-height: 1;
	text-transform: uppercase;
}

h2 {
	margin-top: 40px;
}

h2:first-of-type {
	margin-top: 20px;
}

.logo {
	display: block;
}

img {
	height: auto;
	max-width: 100%;
}

.logo img {
	width: 500px;
}

@media all and (max-width: 768px) {
	.logo img {
		width: 450px;
	}
}

@media all and (max-width: 479px) {
	.logo img {
		width: 350px;
	}
}

.icon.heart {
	color: lightcoral;
}

a {
	color: aquamarine;
	font-weight: bold;
}

a:hover, a:active {
	color: mediumaquamarine;
}

a code {
	color: black;
}

code {
	background-color: aquamarine;
	color: black;
	font-family: monospace;
	padding: 10px;
	user-select: all;
}

code.image {
	background-color: lightyellow;
}


table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th {
  background-color: #ffffff;
  font-weight: bold;
  text-align: left;
  padding: 8px;
  table-layout: fixed;
  width: 100%;
}

td {
  border: 1px solid #999999;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

table, th, td {
	color: black;
  }

  #myInput {
	width: 600px;
  }
